.game-preview {
    img {
        width: 100%;
        height: 1005;
    }
    .container {
        display: flex;

        gap: 10px;

        .container-info {
            display: flex;
            flex-direction: column;
        }
    }
}
