.room-preview {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: $clr1;

    & > * {
        color: $clr2;
    }

    & .preview-carousel {
        border-radius: 10px;
        aspect-ratio: 3/1.9;
        overflow: hidden;

        & .el-carousel__container {
            height: 100%;
        }

        & .el-carousel__arrow {
            color: $clr2;
            background-color: $clr6;
            &:hover {
                background-color: $clr9;
                box-shadow: $op7;
            }
        }
        & .el-carousel__indicators button {
            width: 7px;
            height: 7px;
            border-radius: 50%;
        }
    }

    & .preview-like-btn {
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
        fill: rgba(0, 0, 0, 0.5);
        height: 24px;
        width: 24px;
        stroke: $clr7;
        stroke-width: 2;
        overflow: visible;
    }

    & .preview-details {
        & > * {
            margin: 3px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & .price {
            font-weight: bold;
        }
    }

    & .preview-reviews {
        & img {
            height: 15px;
            width: 15px;
        }

        & .preview-rating {
            font-size: 0.875rem;
            display: flex;
            align-items: flex-start;
            margin: 6px 0;

            & > * {
                margin-inline-end: 3px;
            }

            & .num-of-reviews {
                color: $clr3;
            }
        }
    }
}
