.filter-btn {
    cursor: pointer;
    border: 1px solid $clr5;
    background-color: $clr8;
    color: $clr2;
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem;
    border-radius: 30px;
    position: relative;
    font-size: 0.875rem;
    line-height: 1rem;
    max-height: 2.4375;
    &:hover {
        border: 1px solid black;
    }
    &:active {
        border: 1px solid black;
    }
}

.tracking {
    position: relative;
    background: $clr15;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: $clr8;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    & span {
        position: relative;
        pointer-events: none;
    }

    &:before {
        --size: 1;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: $lg2;
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
    }

    &:hover:before {
        --size: 400px;
    }

    // <button class="tracking" ref="button" @mousemove="set($event)">

    // methods: {
    //     set(e) {
    //       let btn = document.querySelector(".tracking");
    //       btn.addEventListener("mousemove", (e) => {
    //         let rect = e.target.getBoundingClientRect();
    //         let x = e.clientX - rect.left;
    //         let y = e.clientY - rect.top;
    //         btn.style.setProperty("--x", x + "px");
    //         btn.style.setProperty("--y", y + "px");
    //       });
    //     },
    //   },
}

.demo-tracking {
    position: relative;
    background: $clr15;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: $clr8;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    &:hover {
        background: $clr21;
    }
}

.small-padding {
    padding: 0 50px !important;
}

.large-padding {
    padding: 15px !important;
}

.clear {
    border: none;
    font-size: 0.875rem;
    padding: 8px 0;
    background-color: $clr8;
    font-weight: 600;
    text-decoration: underline;
}

.save {
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    color: $clr8;
    background-color: $clr2;
    font-size: 0.875rem;
    font-weight: 600;
}

.modal-default-button {
    float: right;
}
