.page-layout {
  min-height: 80vh;
  height: auto;
  background-color: var(--clr2);
}

.detail-layout {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1120px) minmax(20px, 1fr);

  & > * {
    grid-column: 2;
  }
}

.explore-layout {
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;

  & > * {
    grid-column: 2;
  }
}

.grid-layout {
  display: grid;
  column-gap: 25px;
}

.modals {
  border-radius: 10px;
  z-index: 1000;
  box-shadow: $op1;
  background-color: $clr8;
  position: fixed;
  top: 140px;
}
